<p id="notice"><%= notice %></p>

<p>
  <b>Pos:</b>
  <%= @seeder_status2.pos %>
</p>

<p>
  <b>Group num:</b>
  <%= @seeder_status2.group_num %>
</p>

<p>
  <b>Offset:</b>
  <%= @seeder_status2.offset %>
</p>


<%= link_to 'Edit', edit_seeder_status2_path(@seeder_status2) %> |
<%= link_to 'Back', seeder_status2s_path %>
