<%= form_for(@th_entry) do |f| %>
  <% if @th_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@th_entry.errors.count, "error") %> prohibited this th_entry from being saved:</h2>

      <ul>
      <% @th_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :th_entry_id %><br />
    <%= f.number_field :th_entry_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :th_sequence_default_id %><br />
    <%= f.number_field :th_sequence_default_id %>
  </div>
  <div class="field">
    <%= f.label :th_mod_info %><br />
    <%= f.number_field :th_mod_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
